In [0]:
%%writefile mapper.py
#! /usr/bin/env python

import sys
if __name__ == "__main__":

    # input comes from STDIN (standard input)
    for line in sys.stdin:
        line = line.strip()
        line = line.split(',')

        if len(line) >=2:
            purpose = line[3]
            amount = line[4]
            

            sys.stdout.write("{},{}\n".format(purpose, amount))
        ##    print ('%s\t%s' % (purpose, amount))

Overwriting mapper.py

In [0]:
!chmod +x mapper.py

In [0]:
!cat ./credit.csv | ./mapper.py | head

radio/tv,1169
radio/tv,5951
education,2096
furniture,7882
car (new),4870
education,9055
furniture,2835
car (used),6948
radio/tv,3059
car (new),5234

In [0]:
%%writefile reducer.py
#!/usr/bin/env python
import sys
## Esta funcion reduce los elementos que
## tienen la misma clave
if __name__ == '__main__':

    purpose_1={}
    total = 0
    ## cada linea de texto recibida es una
    ## entrada clave \tabulador valor
    for line in sys.stdin:
        line = line.strip()
        purpose, amount = line.split(',')
        amount=int(amount)
        if purpose in purpose_1:
          purpose_1[purpose].append(amount)
        else:
          purpose_1[purpose]=[]
          purpose_1[purpose].append(amount)
    for purpose in purpose_1.keys():
       sump=max(purpose_1[purpose])
       sys.stdout.write("{}\t{}\n".format(purpose, sump))

Overwriting reducer.py

In [0]:
!chmod +x reducer.py

In [0]:
!cat ./credit.csv | ./mapper.py | sort | ./reducer.py | head

business	15945
car (new)	14896
car (used)	12976
domestic appliances	3990
education	12612
furniture	14179
others	18424
radio/tv	15653
repairs	11998
retraining	3447