In [25]:
%load_ext bigdata

The bigdata extension is already loaded. To reload it, use:
  %reload_ext bigdata

In [26]:
%hive_start

In [27]:
%timeout 300

In [28]:
## Borra la carpeta si existe
!hdfs dfs -rm -r -f /tmp/output

##
## Crea la carpeta drivers en el HDFS
##
!hdfs dfs -mkdir /tmp/output

##
## Copia los archivos al HDFS
##
!hdfs dfs -copyFromLocal data.tsv  /tmp/output/data.tsv

##
## Lista los archivos al HDFS para verificar
## que los archivos fueron copiados correctamente.
##
!hdfs dfs -ls /tmp/output/*

Deleted /tmp/output
-rw-r--r--   1 root supergroup        637 2020-01-19 19:03 /tmp/output/data.tsv

In [29]:
%%hive
DROP TABLE IF EXISTS data;

CREATE TABLE data (letra       STRING,
                           fecha        STRING,
                           numero      INT)

ROW FORMAT DELIMITED
FIELDS TERMINATED BY '\t';

DROP TABLE IF EXISTS data;
OK
Time taken: 20.52 seconds
CREATE TABLE data (letra       STRING,
                           fecha        STRING,
                           numero      INT)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY '\t';
OK
Time taken: 1.196 seconds

In [30]:
%%hive
LOAD DATA INPATH '/tmp/output/data.tsv' OVERWRITE
INTO TABLE data;

LOAD DATA INPATH '/tmp/output/data.tsv' OVERWRITE
INTO TABLE data;
Loading data to table default.data
OK
Time taken: 1.838 seconds

In [31]:
%%hive
SELECT CONCAT(letra, ',' ,fecha, ',' ,numero) as ld
    FROM data
ORDER BY
    letra,
    numero;

SELECT CONCAT(letra, ',' ,fecha, ',' ,numero) as ld
    FROM data
ORDER BY
    letra,
    numero;
FAILED: SemanticException [Error 10004]: Line 4:4 Invalid table alias or column reference 'letra': (possible column names are: ld)